@import "../../style/style.scss";

.converter {
  display: flex;
  justify-content: space-between;
  border: solid gray 1px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  width: 620px;
  margin: 10px auto;

  font-size: 20px;

  &-currency {
    display: flex;
    flex-direction: column;
  }
}
